<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Artificial Intelligence at CMS</title>
    <script src="assets/js/uswds-init.min.js"></script>
    <link rel="stylesheet" href="assets/css/uswds.min.css" />
    <!-- <meta http-equiv="refresh" content="0; url=https://www.cms.gov"> -->
  </head>
  <body>
    <script src="assets/js/uswds.min.js"></script>

    <!-- Coming soon -->

    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    <div class="usa-overlay"></div>
    <header class="usa-header usa-header--extended"><div class="usa-navbar">
        <div class="usa-logo" id="extended-logo">
          <em class="usa-logo__text"><a href="index.html" title="Home" aria-label="Home">Artificial Intelligence at CMS</a></em>
        </div>
        <button class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <div class="usa-nav__inner"><button class="usa-nav__close">
            <img src="/assets/img/usa-icons/close.svg" role="img" alt="close">
          </button>
          <ul class="usa-nav__primary usa-accordion"><li class="usa-nav__primary-item">
              <button class="usa-accordion__button usa-nav__link  " aria-expanded="false" aria-controls="extended-nav-section-one">
                <span>Best Practices</span></button>
              <ul id="extended-nav-section-one" class="usa-nav__submenu">

                <li class="usa-nav__submenu-item">
                    <a href="playbook-landing.html" class="">Landing Page</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="playbook.html" class="">CMS AI Playbook</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="trustworthy.html" class="">HHS AI Playbook</a>
                </li>
               </ul>
               </button>
               <li class="usa-nav__primary-item">
                 <button class="usa-accordion__button usa-nav__link " aria-expanded="false" aria-controls="extended-nav-section-two">
                   <span>Resources</span></button>
                 <ul id="extended-nav-section-two" class="usa-nav__submenu">
                    <li class="usa-nav__submenu-item">
                    <a href="resource-landing.html" class="">Landing Page</a>
                    </li><li class="usa-nav__submenu-item">
                    <li class="usa-nav__submenu-item">
                     <a href="usecase.html" class=""> Use case Library</a>
                   </li><li class="usa-nav__submenu-item">
                     <a href="products.html" class=""> Products and Tools</a>
                   </li><li class="usa-nav__submenu-item">
                     <a href="programs.html" class=""> Workforce Training Programs</a>
                   </li>
                   <li class="usa-nav__submenu-item">
                     <a href="pollination.html" class=""> Cross-pollination</a>
                   </li>
                 </ul></li>


                 <li class="usa-nav__primary-item">
                   <button class="usa-accordion__button usa-nav__link " aria-expanded="false" aria-controls="extended-nav-section-three"><span>AI Pilots</span></button>
                   <ul id="extended-nav-section-three" class="usa-nav__submenu">
                    <li class="usa-nav__submenu-item">
                        <a href="resource-landing.html" class="">Landing Page</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                       <a href="explorers.html" class=""> CMS AI Explorers Program </a>

                     </li><li class="usa-nav__submenu-item">
                       <a href="idea.html" class=""> Submit an Idea</a>
                     </li>

                     </li>
                   </ul></li></ul>
        </div>
        </div>
      </nav>
    </header>


    <main id="main-content">
      {{ content }}
    </main>

    <footer class="usa-footer usa-footer--slim">

      <div class="usa-footer__primary-section">
        <div class="usa-footer__primary-container grid-row">
          <div class="mobile-lg:grid-col-8">
            <nav class="usa-footer__nav" aria-label="Footer navigation">
              <ul class="grid-row grid-gap">
                <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
                  <a class="usa-footer__primary-link" href="javascript:void(0);"></a>
                </li>
                <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
                  <a class="usa-footer__primary-link" href="javascript:void(0);"></a>
                </li>
                <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
                  <a class="usa-footer__primary-link" href="javascript:void(0);"></a>
                </li>
                <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
                  <a class="usa-footer__primary-link" href="javascript:void(0);"></a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="mobile-lg:grid-col-4">
            <address class="usa-footer__address">
              <div class="grid-row grid-gap">
                <div class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
                  <div class="usa-footer__contact-info">
                    <a href="tel:1-800-555-5555"></a>
                  </div>
                </div>
                <div class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
                  <div class="usa-footer__contact-info">
                    <a href="mailto:info@agency.gov"></a>
                  </div>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
      <div class="usa-footer__secondary-section">
        <div class="grid-container">
          <div class="usa-footer__logo grid-row grid-gap-2">
            <div class="grid-col-auto">
              <img class="usa-footer__logo-img" src="/assets/img/logo-img.png" alt="">
            </div>
            <div class="grid-col-auto">
              <p class="usa-footer__logo-heading"></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
